/** Main **/

* {}
main {
    background-image: url('../images/box_background_empty.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -999;
    padding-top: 32px;
}
.container {
    margin-top: 100px;
}

/** Navigation **/

nav .nav-wrapper {
    background: #161b23;
    border: none;
    border-bottom: 2px solid #128fb8;
}
nav li {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 14px;
    /* text-shadow: 0px 0px 5px #FFFFFF; */
    transition: all .5s ease;
}
nav li:hover {
    text-shadow: 0px 0px 10px #128fb8;
    transition: all .5s ease;
}

/* nav li.active a {
    box-shadow: inset 0px -6px #128fb8;
} */


/** Buttons **/

nav #close {
    background-image: url('../images/close_normal.png');
}
nav #close:hover {
    background-image: url('../images/close_hover.png');
}
nav #minimise {
    background-image: url('../images/minimise_normal.png');
}
nav #minimise:hover {
    background-image: url('../images/minimise_hover.png');
}
nav #settings {
    background-image: url('../images/settings_normal.png');
}
nav #settings:hover {
    background-image: url('../images/settings_hover.png');
}
nav #minimise, nav #close, nav #settings, nav #minimise:hover, nav #close:hover, nav #settings:hover {
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    -webkit-app-region: none;
    transition: all .5s ease;
}

/** Draggable **/

#draggable {
    -webkit-app-region: drag;
}
#draggable li {
    -webkit-app-region: none;
}

/** Components **/

#notes {
    border: 1px solid rgba(255, 255, 255, .2);
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
}
#news {
    overflow: hidden;
}
#news, #notes {
    text-align: left;
    font-size: 12px;
    color: #FFFFFF;
    overflow-y: auto;
}
.scrollable {
    height: 231px;
    padding: 10px;
    scroll-margin: 50px 0 0 50px;
    overflow-y: auto;
    overflow-x: hidden;
}
.version {
    color: grey;
}
.news {
    margin-bottom: 3px;
}

/** Content **/

#content-container {
    margin-top: 70px;
    margin-bottom: 0px;
}
.content-header {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.content-text {
    padding: 10px;
    width: 100%;
    height: 90%;
}

/** Play Button **/

#play-game {
    background-image: url('../images/start_normal.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 56px;
    transition: all .5s ease;
    text-align: center;
    cursor: pointer;
}
#play-game:hover {
    background-image: url('../images/start_hover.png');
    background-repeat: no-repeat;
    transition: all .5s ease;
}
#play-game:disabled {
    background-image: url('../images/start_updating.png');
    background-repeat: no-repeat;
    transition: all .5s ease;
}

/** Progress Bar **/

#progress-bar {
    background-image: url('../images/progress-bar-back.png');
    opacity: 0.2;
    width: 851px;
    height: 69px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#progress-bar-front {
    background-image: url('../images/progress-bar-back.png');
    opacity: 0.5;
}

/** Scrollbar **/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #787b80;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/** Status **/

#status {
    padding: 0px;
}
.server-status {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.875rem;
    padding: 0 0.75rem 0 2.5rem;
    width: 250px;
    float: right;
}
.server-status::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1.875rem solid rgba(0, 0, 0, 0.5);
    ;
    border-left: 1.875rem solid transparent;
    z-index: -1;
}
.server-status .title {
    font-size: 0.675rem;
    font-weight: normal;
    text-transform: uppercase;
    color: gray;
}
.server-status .status {
    font-size: 0.675rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
}