/** Main **/

* {}
main {
    background-image: url('../images/box_background_empty.png');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -999;
    padding-top: 32px;
}
.container {
    margin-top: 100px;
}

/** Navigation **/

nav .nav-wrapper {
    background: #161b23;
    border: none;
    border-bottom: 2px solid #128fb8;
}
nav li {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 14px;
    /* text-shadow: 0px 0px 5px #FFFFFF; */
    transition: all .5s ease;
}
nav li:hover {
    text-shadow: 0px 0px 10px #128fb8;
    transition: all .5s ease;
}

/* nav li.active a {
    box-shadow: inset 0px -6px #128fb8;
} */


/** Buttons **/

nav #close {
    background-image: url('../images/close_normal.png');
}
nav #close:hover {
    background-image: url('../images/close_hover.png');
}
nav #minimise {
    background-image: url('../images/minimise_normal.png');
}
nav #minimise:hover {
    background-image: url('../images/minimise_hover.png');
}
nav #settings {
    background-image: url('../images/settings_normal.png');
}
nav #settings:hover {
    background-image: url('../images/settings_hover.png');
}
nav #minimise, nav #close, nav #settings, nav #minimise:hover, nav #close:hover, nav #settings:hover {
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    -webkit-app-region: none;
    transition: all .5s ease;
}

/** Draggable **/

#draggable {
    -webkit-app-region: drag;
}
#draggable li {
    -webkit-app-region: none;
}

/** Components **/

#status {
    background-image: url('../images/server-status.png');
    height: 30px;
    width: 587px;
    text-align: right;
    color: #FFFFFF;
    font-size: 12px;
}
#status div {
    line-height: 29px;
}
#patch-notes {
    background-image: url('../images/patch-notes.png');
    background-repeat: no-repeat;
    width: 587px;
}
#news {
    overflow: hidden;
}
#news, #patch-notes {
    height: 267px;
    text-align: left;
    font-size: 12px;
    color: #FFFFFF;
    overflow-y: auto;
}
.online {
    color: greenyellow;
}
.scrollable {
    height: 231px;
    padding: 10px;
    scroll-margin: 50px 0 0 50px;
    overflow-y: auto;
    overflow-x: hidden;
}

/** Content **/

#content-container {
    margin-top: 70px;
    margin-left: 124px;
}
.content-header {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    width: 100%;
}
.content-text {
    padding: 10px;
    width: 100%;
    height: 90%;
}

/** Play Button **/

#play-game {
    background-image: url('../images/start_normal.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 56px;
    transition: all .5s ease;
    text-align: center;
    cursor: pointer;
}
#play-game:hover {
    background-image: url('../images/start_hover.png');
    background-repeat: no-repeat;
    transition: all .5s ease;
}
#play-game:disabled {
    background-image: url('../images/start_updating.png');
    background-repeat: no-repeat;
    transition: all .5s ease;
}

/** Progress Bar **/
#progress-bar {
    background-image: url('../images/progress-bar-back.png');
    opacity: 0.2;
    width: 851px;
    height: 69px;  display: block;
    margin-left: auto;
    margin-right: auto;
}
#progress-bar-front {
    background-image: url('../images/progress-bar-back.png');
    opacity: 0.5;
}

/** Scrollbar **/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #787b80;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}